nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $color-random-2;
  padding-top: 5px;
  padding-bottom: 5px;

  ul {
    list-style-type: lower-roman;
    list-style-position: outside;

    li {
      color: $color-H2;
      padding-left: 5px;
      padding-right: 5px;
      font-size: ($font-size * 3) + 5;
      text-decoration: none;
    }
  }
}

#submenu {
  ul {
    background-color: $color-random-2;
    list-style: none;

    li {
      position: relative;
      float: left;
      a {
        &:hover {
          color: $color-H2;
        }
      }
    }
  }
  ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem 0;

    ul li:hover > ul {
      display: block;
    }
  }
}
