$bg-color: rgb(198, 133, 143);
$color-H2: black;
$color-H3: rgb(145, 53, 53);
$color-H4: rgb(182, 182, 182);
$color-crimson: crimson;
$color-white: white;
$color-random-1: rgb(143, 27, 75);
$color-random-2: rgb(226, 172, 180);
$color-random-3: rgb(199, 75, 116);

$title-font: "Dancing Script", cursive;
$max-width: 100%;
$let-spacing: 3px;
$txt-transf: lowercase;
$txt-align: center;
$txt-deco: none;

$h2-if: $color-H2;
$font-size: 5px;
